<div class="modal fade" id="bookClass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <%= simple_form_for Booking.new, as: :booking, method: :post, url: book_for_user_path do |f| %>
            <%= f.input :id, as: :hidden %>
            <%= f.association :user, collection: User.where.not(id: current_user.id), label: 'Enter the student name:' %>
            <%= f.button :submit, class:"btn btn-outline-secondary my-2" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>