.simple-calendar {
  .day {}

  .wday-0 {
    height: 600px !important;
    overflow-y: auto;
  }

  
  .wday-1 {
    height: 600px !important;
    overflow-y: auto;
  }
  .wday-2 {
    height: 600px !important;
    overflow-y: auto;
  }
  .wday-3 {
    height: 600px !important;
    overflow-y: auto;
  }
  .wday-4 {
    height: 600px !important;
    overflow-y: auto;
  }
  .wday-5 {
    height: 600px !important;
    overflow-y: auto;
  }
  .wday-6 {
    height: 600px !important;
    overflow-y: auto;
  }

.wday-0::-webkit-scrollbar {
    width: 0;
}

.wday-1::-webkit-scrollbar {
    width: 0;
}

.wday-2::-webkit-scrollbar {
  width: 0;
}

.wday-3::-webkit-scrollbar {
  width: 0;
}

.wday-4::-webkit-scrollbar {
  width: 0;
}

.wday-5::-webkit-scrollbar {
  width: 0;
}

.wday-6::-webkit-scrollbar {
  width: 0;
}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {
    height: 200px;
  }

  .has-events {}
}

.day{
  ul{
    list-style-type: none;
    padding: 0;
  }
}

.slice{
  background-color: white;
  padding: 2px 0px 0 8px;
  border: solid 1px black;
  margin: 2px 0;
  display: block;
  z-index: 1;
  &:hover{
    color: white;
    background-color: gray;
    opacity: 1;
    cursor: pointer;
  }
}

.calendar-entry{
  background-color: white;
  border-radius: 8px;
  height: 230px;
  min-height: 150px;
  z-index: 4;
}
