.navbar-lewagon {
  justify-content: space-between;
  background-color: #f6f8fA;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.navbar-nav {
  align-items: center;
}

.active{
  background-color: #dddddd;
  text-decoration: none;
  padding: 5px;
}

a {
  text-decoration: none !important;
  color: black;
}

.nav-link{
  margin: 0 30px;
}